* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
h1{
  text-align: center;
  font-weight: 300;
}

.tulisan_login{
  text-align: center;
  text-transform: uppercase;
}

.kotak_login{
  width: 350px;
  background: white;
  margin: 80px auto;
  padding: 30px 20px;
}

label{
  font-size: 11pt;
}

.form_login{
  box-sizing :border-box;
  width: 20px;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
}

.tombol_login{
  background: #46de4b;
  color: white;
  font-size: 11pt;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
}

.link{
  color: #232323;
  text-decoration: none;
  font-size: 10pt;
}
.sidebar {
  float:right;
  width:275px;
}
 
.sidebar .widget {
  padding:20px;
  margin:0 0 0px;
  background:#fff;
  border-bottom: 2px solid #fff;
  transition: all 0.5s ease;
}
 
.sidebar .widget:hover {
  border-bottom: 2px solid #3498db;
}
 
.sidebar .widget h2 {
  padding:0;
  margin:0 0 0px;
  color:#3498db;
  font-size: 18px;
  font-weight:800;
  text-transform: uppercase;
}
 
.sidebar .widget p {
  font-size: 14px;
}
 
.sidebar .widget p:last-child {
  margin:0;
}
